@BrandColor: #ec7f3a;

@NameWidth-All: 196.813px;
@NameWidth-Mobile-S: 318px;

@homeList-Size: 230px;
@navbar-Size: 50px;

@Mobile-S-Size: 320px;
@Tablet-Size: 768px;

#brand {
    width: @navbar-Size;
    height: auto;
    border-radius: 100%;
}

#brand-href {
    padding: 0px;
    width: auto;
    height: auto;
}

#nav {
    background-color: @BrandColor;
    margin: 0px;
}

.pageList {
    font-size: 12pt;
    background-color: @BrandColor;
}

.pageList > li > a {
    color: white !important;

    &:hover {
        color: black !important;
    }
}

.pageList > tbody > tr > th {
    padding-bottom: 25px;
    padding-top: 25px;
}

#userName {
    max-width: @NameWidth-All;
    overflow-x: hidden;
    white-space: pre;
}

#homeList {
    width: @homeList-Size;
    height: 1000px;
    background-color: @BrandColor;
    position: fixed;
    padding-top: 9px;
    text-align: center;

    @media(max-width : @Tablet-Size) {
        position: static;
        height: auto;
        width: auto;
        padding-top: @navbar-Size;
    }
}

#homeList > .pageList > li {
    @media(max-width : @Tablet-Size) {
        height: 62px;

        a {
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 14pt;
        }
    }
}

#homePage {
    padding-left: @homeList-Size;
    padding-top: @navbar-Size;

    @media(max-width : @Tablet-Size) {
        padding: 0px;
    }
}

#errorContainer {
    text-align: center;
}

#httpCode {
    font-size: 150pt;
    color: @BrandColor;

    @media(max-width: 332px) {
        font-size: 120pt;
    }
}

#errorMessage {
    font-size: 30pt;

    @media(max-width: 332px) {
        font-size: 15pt;
    }
}

#signUpContainer {
    padding-top: @navbar-Size;
}

.error {
    color: red;
    font-size: 14pt;
}

#messageContainer {
    text-align: center;
    padding-top: @navbar-Size;
}

#signUpError {
    margin-top: 15px;
}
