@BrandColor: #ec7f3a;

@NameWidth-All: 195.813px;
@NameWidth-Mobile-S: 318px;

@homeList-Size: 230px;
@navbar-Size: 50px;

@Mobile-S-Size: 320px;
@Tablet-Size: 767px;

@Desktop-Size: 991px;

@font-face {
    font-family: 'Ubuntu Mono';
    src: url(./fonts/ubuntumono.ttf);
}

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url(./fonts/bebasneuebold.ttf);
}

#brand {
    a {
        padding: 0px;

        img {
            width: @navbar-Size;
            height: auto;
            border-radius: 100%;
        }
    }
}

body {
    font-family: 'Ubuntu Mono';
}

nav {
    font-family: 'Bebas Neue Bold';
}

#brand-href {
    padding: 0px;
    width: auto;
    height: auto;
}

#nav {
    background-color: @BrandColor;
    margin: 0px;
    min-width: 875px;

    @media(max-width: @Tablet-Size) {
        min-width: initial;
    }
}

.pageList {
    font-size: 14pt;
    background-color: @BrandColor;

    li > a {
        color: white !important;

        &:hover {
            color: black !important;
        }
    }
}

.pageList > tbody > tr > th {
    padding-bottom: 25px;
    padding-top: 25px;
}

#homeList {
    width: @homeList-Size;
    height: 1000px;
    background-color: @BrandColor;
    position: fixed;
    padding-top: 9px;
    text-align: center;

    @media(max-width : @Tablet-Size) {
        position: static;
        height: auto;
        width: auto;
        padding-top: @navbar-Size;
    }
}

#homeList > .pageList > li {
    @media(max-width : @Tablet-Size) {
        height: 62px;

        a {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

#homePage {
    padding-left: @homeList-Size;
    padding-top: @navbar-Size;

    @media(max-width : @Tablet-Size) {
        padding: 0px;
    }
}

#errorContainer {
    text-align: center;
}

#httpCode {
    font-size: 150pt;
    color: @BrandColor;

    @media(max-width: 332px) {
        font-size: 120pt;
    }
}

#errorMessage {
    font-size: 30pt;

    @media(max-width: 332px) {
        font-size: 15pt;
    }
}

#signUpContainer, #signInContainer {
    padding-top: @navbar-Size;
}

#signInContainer {
    div > form {
        margin-top: 25%;

        @media(max-width: @Tablet-Size) {
            margin-top: 0px;
        }
    }
}

.error {
    color: red;
    font-size: 14pt;
}

#messageContainer {
    text-align: center;
    padding-top: @navbar-Size;
}

#signUpError {
    margin-top: 15px;
    margin-left: 15px;
}

.navbar-collapse {
    max-height: initial !important;
}

#replace-signup {
    padding-top: 7px;

    @media(max-width: @Desktop-Size) {
            padding-left: 30px;
    }
}

.information {
    font-size: 14pt;
    font-weight: bold;
    color: @BrandColor;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 0px;
}

.submit-btn {
    padding-left: 30px;
    padding-right: 30px;
}

#display-secondForm {
    display: none;
}

label {
    font-size: 14pt;

    @media(max-width: 334px) {
        font-size: 12pt;
    }
}
